* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cube {
  width: 400px;
  height: 200px;
  background-color: seagreen;
  margin: 1rem;
  border-radius: 12px;
  /* display: flex;
    justify-content: center; */
    /* transition: 1s ease-in; */
}

.btn {
  background-color: green;
  padding: 1rem;
  display: inline-block;
  margin: 1rem;
  border-radius: 12px;
  border: 2px solid black;
  transition: 0.2s ease-in;
  
}
.btn:hover {
  background-color: rgb(7, 153, 7);
  transform: skew(12, 23)

}

/* .cube:hover{
    transform: rotateY(180deg);
} */
