body {
  font-family: cursive;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  color: #2c3e50;
}

h2 {
  font-size: 2em;
  color: #34495e;
}

h3 {
  font-size: 1.75em;
  color: #7f8c8d;
}

h4,
h5,
h6 {
  font-size: 1.5em;
  color: #95a5a6;
}

.imgo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgo img {
  max-width: 40%;
  height: 40%;
  filter: drop-shadow(1px 1px 20px rgb(255, 0, 128));
}

.link {
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(204, 31, 31, 0.1);
}

.link p {
  font-size: 18px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #785c03;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.button {
  box-shadow: 0 0 5px rgba(255, 9, 9, 0.5), 0 0 10px rgba(236, 185, 15, 0.5),
    0 0 15px rgba(243, 3, 207, 0.5); /* Initial glow effect */
}

.button:hover {
  box-shadow: 0 0 10px rgb(253, 6, 6), 0 0 20px rgb(225, 8, 228); /* Enhanced glow effect on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 3px solid #000000;
}

th {
  background-color: #5a316a;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

iframe {
  display: block;
  margin: 20px 0;
  border: solid;
  border-radius: 20px;
}

em,
i {
  font-style: italic;
  color: #f70d0d;
}

small {
  font-size: 0.8em;
  color: #7f8c8d;
}

del {
  text-decoration: line-through;
  color: #f9007c;
}

ins {
  text-decoration: underline;
  color: #3300ff;
}

mark {
  background-color: #bc1b69;
  padding: 0 5px;
}

sub {
  vertical-align: sub;
  font-size: 0.8em;
}

sup {
  vertical-align: super;
  font-size: 0.8em;
}
